<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'recipes/partials/head.html' %}

    <title>{% block title %}{% endblock %} Recipes</title>
    <link rel="icon" type="'image/x-icon" href="media/recipes/cover/2025/02/08/favicon1.png"
  </head>

  <body>
    {% include 'recipes/partials/header.html' %}
    {% include 'recipes/partials/search.html' %}
    <main class="main-content-container">
      <!-- This block inherit the child template from global home.html -->
      {% block content %}
      {% endblock %}
    </main>
    {% include 'recipes/partials/footer.html' %}
  </body>
</html>
